{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "UI/Layout": "./src/modules/layout/components",
          "UI/Page": "./src/modules/page/components",
          "UI/Posts": "./src/modules/posts/components",
          "UI/Products": "./src/modules/products/components",
          "UI/Stats": "./src/modules/stats/components"
        }
      }
    ],
    [
      "transform-assets-import-to-string",
      {
        "baseDir": "/static",
        "baseUri": "https://druphinyfiles.b-cdn.net"
      }
    ]
  ],
  "env": {
    "development": {
      "presets": "next/babel"
    },
    "production": {
      "presets": "next/babel"
    },
    "test": {
      "presets": [
        [
          "env",
          {
            "modules": "commonjs"
          }
        ],
        "next/babel"
      ]
    }
  }
}
